## DEFCONFIG FRAGMENT FOR:
# MER TOOL CHECK FIXES
## Configs recomended by mer check config

# Required halium-hybris
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_UEVENT_HELPER=y
CONFIG_UEVENT_HELPER_PATH=""

# General configs
CONFIG_LBDAF=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_QUOTACTL=y
CONFIG_MEMCG_KMEM=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_NF_NAT_IPV6=y|m
CONFIG_PROC_FS=y
CONFIG_NETPRIO_CGROUP=y
CONFIG_DUMMY=n
CONFIG_SYSFS=y
CONFIG_CUSE=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_MEMCG=y
CONFIG_SCHED_DEBUG=y
CONFIG_MEMCG_SWAP=y

# NFS support
CONFIG_LOCKD=y|m
CONFIG_NFS_USE_KERNEL_DNS=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_NFS_V3_ACL=y
CONFIG_SUNRPC=m
CONFIG_NFS_V4=y
CONFIG_NFS_COMMON=y
CONFIG_NFS_V4_1=y
CONFIG_NFS_V3=y
CONFIG_SUNRPC_GSS=m
CONFIG_BLK_DEV_NBD=m
CONFIG_LOCKD_V4=y
CONFIG_NFS_FS=m
CONFIG_NFS_ACL_SUPPORT=m
# Extra filesystems support
CONFIG_ISO9660_FS=m
# BTRFS disabled since chrashes when building
CONFIG_BTRFS_FS=n
CONFIG_UDF_FS=m
# Support HID devices
CONFIG_HIDRAW=m
# Ensure that we support UTF8 filenames.
CONFIG_NLS_UTF8=y
# Bluez
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIUART=y
